form {
    width: 400px;
    height: auto;
    min-height: 250px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 7px 48px 12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 7px 48px 12px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 7px 48px 12px rgba(0, 0, 0, 0.75);
}

.header {
    width: 100%;
    height: auto;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs {
    width: 100%;
    height: auto;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 10px 0 10px;
}

.btn-submit {
    width: 100%;
    height: auto;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-outer{
    width: 100%;
    height:auto;
    min-height:300px ;
    display: flex;
    align-items: center;
    justify-content: center;
}